<h2>Categories</h2>

<h3>Saving vs. Spending</h3>

<button ng-click="startMonth.subtract('month', 1)">Prev Month</button>
<button ng-click="startMonth.add('month', 1)">Next Month</button>
<table class="pure-table">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col" ng-repeat-start="month in months">{{ month.format("MMM YYYY") }} Savings</th>
            <th scope="col" ng-repeat-end>{{ month.format("MMM") }} Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in data.categories">
            <th scope="row" ng-bind="category.name"></th>
            <td ng-repeat-start="month in months">
                <input ng-model="category.savings[month.year() + '' + month.month()]" size="5" />
            </td>
            <td ng-repeat-end ng-bind="calcSpending(category.name, month) | currency"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="row">Monthly Net Total</th>
            <th scope="col" ng-repeat-start="month in months">{{monthySavings(month)}}</th>
            <th scope="col" ng-repeat-end>{{monthySpending(month)}}</th>
        </tr>
    </tfoot>
</table>

<label>
    Category Name:
    <input type="text" ng-model="catName" />
</label>
<button ng-click="addCategory()">Add Category</button>