body {
    padding: 1em;
    background: #eee;
    color: #333;
}
.site-container {
    background: #fafafa;
    padding: 1em;
}

.plain {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
}
button:not(.plain) {
    border: 1px solid #369;
    border-radius: 2px;
    background: #0078e7;
    color: #fff;
}
button:not(.plain):hover,
button:not(.plain):focus {
    background: #09e;
}

table {
    margin-top: 1em;
    width: 100%;
}

table thead {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    white-space: nowrap;
    top: 0;
}

table tbody tr:hover {
    background: #eee;
}

table td {
    position: relative;
}

.reviewed-item {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.transaction-delete {
    padding: 0;
}

.transaction-name {
    text-align: left;
}

.arrow {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    vertical-align: middle;
    position: relative;
}
.arrow.up {
    top: -3px;
    border-bottom-color: #0078e7;
}
.arrow.down {
    top: 2px;
    border-top-color: #0078e7;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}