<h2>Transactions</h2>

<button ng-click="setRange(30)">Last 30 days</button>
<button ng-click="setRange(60)">Last 60 days</button>
<button ng-click="setRange(90)">Last 90 days</button>
<button ng-click="setRange('month')">This Month</button>
<button ng-click="setRange('months', -1)">Previous Month</button>
<button ng-click="setRange('months', 1)">Next Month</button>
<button ng-click="setRange('year')">This Year</button>
<button ng-click="showReviewed = !showReviewed">{{ showReviewed ? 'Hide' : 'Show'  }} reviewed</button>

<label>
    Filter:
    <input type="text" ng-model="filterText" />
</label>

<table class="pure-table">
    <thead>
        <tr>
            <th scope="col">Remove</th>
            <th scope="col">Name <button ng-click="sortCol('name')">Sort</button></th>
            <th scope="col">Category <button ng-click="sortCol('category')">Sort</button></th>
            <th scope="col">Date <button ng-click="sortCol('date')">Sort</button></th>
            <th scope="col">Account <button ng-click="sortCol('account')">Sort</button></th>
            <th scope="col">Amount <button ng-click="sortCol('amount')">Sort</button></th>
            <th scope="col">Reviewed <button ng-click="sortCol('reviewed')">Sort</button></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="transaction in transactions | orderByPriority | orderBy:predicate:reverse | filter:filterText | filter:inRange" ng-if="!transaction.reviewed || showReviewed">
            <th><button ng-click="deleteTransaction(transaction)">x</button></th>
            <th scope="row">{{ transaction.name }}</th>
            <td>
                <span ng-if="!transaction.reviewed">{{ transaction.category }}</span>
                <select ng-model="transaction.category">
                    <option ng-repeat="category in categories" value="{{category.name}}" ng-selected="category.name == transaction.category">{{ category.name }}</option>
                </select>
            </td>
            <td>{{ transaction.date | date:'short' }}</td>
            <td>
                {{ transaction.account }}
                <!-- <select ng-model="transaction.account" ng-options="account as account for account in accounts"></select> -->
            </td>
            <td>{{ transaction.amount | currency }}</td>
            <td>
                <label class="reviewed-item">
                    <input type="checkbox" ng-model="transaction.reviewed" />
                </label>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">Running Balance</td>
            <td>{{ currentBalance }}</td>
        </tr>
    </tfoot>
</table>

<h3>Import Transactions</h3>

<form method="post" action="/transactions" enctype="multipart/form-data">
    <input type="file" name="newTransactions" />
    <select name="account">
        <option ng-repeat="account in accounts" value="{{account}}">{{account}}</option>
    </select>
    <button type="submit">Import</button>
</form>