<h2>Transactions
    <span ng-if="startDate.month() == endDate.month()">
        for {{ startDate.format('MMMM YYYY') }}
    </span>
    <span ng-if="startDate.month() !== endDate.month()">
        from {{ startDate.format('MMMM YYYY') }} to {{ endDate.format('MMMM YYYY') }}
    </span>
</h2>


<label class="right">
    Filter:
    <input type="text" ng-model="filterText" />
</label>

<div>
    Last
    <button ng-click="setRange(30)">30</button>
    <button ng-click="setRange(60)">60</button>
    <button ng-click="setRange(90)">90</button> days
    &mdash;
    <button ng-click="setRange('month')">This Month</button>
    <button ng-click="setRange('months', -1)">Last Month</button>
    <button ng-click="setRange('months', 1)">Next Month</button>
    <button ng-click="setRange('year')">This Year</button>
    &mdash;
    <button ng-click="showReviewed = !showReviewed">{{ showReviewed ? 'Hide' : 'Show'  }} reviewed</button>
</div>

<table class="pure-table clear">
    <thead>
        <tr>
            <th scope="col">Name <button ng-click="sortCol('name')" class="plain arrow up">Sort</button></th>
            <th scope="col">Category <button ng-click="sortCol('category')" class="plain arrow up">Sort</button></th>
            <th scope="col">Date <button ng-click="sortCol('date')" class="plain arrow up">Sort</button></th>
            <th scope="col">Account <button ng-click="sortCol('account')" class="plain arrow up">Sort</button></th>
            <th scope="col">Amount <button ng-click="sortCol('amount')" class="plain arrow up">Sort</button></th>
            <th scope="col">Reviewed <button ng-click="sortCol('reviewed')" class="plain arrow up">Sort</button></th>
            <th scope="col">Del</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="transaction in transactions | orderBy:predicate:reverse | filter:filterText | filter:inRange track by transaction.$id" ng-if="!transaction.reviewed || showReviewed">
            <th scope="row" class="transaction-name">{{ transaction.name }}</th>
            <td class="transaction-category">
                <span ng-if="!transaction.reviewed">{{ transaction.category }}</span>
                <select ng-model="transaction.category" ng-options="category.name as category.name for category in categories" ng-change="transactions.$save(transaction)"></select>
            </td>
            <td class="transaction-date">{{ transaction.date | date:'short' }}</td>
            <td class="transaction-account">
                {{ transaction.account }}
                <!-- <select ng-model="transaction.account" ng-options="account as account for account in accounts"></select> -->
            </td>
            <td class="transaction-amount">{{ transaction.amount | currency }}</td>
            <td class="transaction-reviewed">
                <label class="reviewed-item">
                    <input type="checkbox" ng-model="transaction.reviewed" ng-click="transactions.$save(transaction)" />
                </label>
            </td>
            <td class="transaction-delete"><button ng-click="deleteTransaction(transaction)">x</button></td>
        </tr>
    </tbody>
    <!-- <tfoot>
        <tr>
            <td colspan="5">Running Balance</td>
            <td>{{ currentBalance }}</td>
        </tr>
    </tfoot> -->
</table>

<h3>Import Transactions</h3>

<form method="post" action="/transactions" enctype="multipart/form-data">
    <input type="file" name="newTransactions" />
    <select name="account">
        <option ng-repeat="account in accounts" value="{{account}}">{{account}}</option>
    </select>
    <button type="submit">Import</button>
</form>